:root{
    --body_backgroud:white; 
    --body_color:black;
    --link_color:black;
  }

[data-theme="dark"]{
     --body_background:#222;
     --body_color:white;
     --link_color:rgb(255, 255, 255);
  }
